*{
    margin: 0;
    padding: 0;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272822;
    color: white;
    height: 56px;
}
.content{
    font-family: 'Potta One', cursive;
}

.container{
    width: 60vw;
    margin: auto;
    padding: 32px 0px;
    font-family: 'Roboto', sans-serif;
}


.logo img{
    width: 34px;
    filter: invert(100%);
}

footer {
    display: flex;
    height: 65px;
    background: #272822;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}